<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vero">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons8_dog_50"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.vero.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.vero.Favoritos"
            android:parentActivityName="com.example.vero.MainActivity">

            <!-- Soporte para versiones 4.0 o menor -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vero.MainActivity" />
        </activity>
        <activity android:name="com.example.vero.Contacto">
            android:parentActivityName=".MainActivity">

            <!-- Soporte para versiones 4.0 o menor -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vero.MainActivity" />
        </activity>
        <activity android:name="com.example.vero.About">
            android:parentActivityName=".MainActivity">

            <!-- Soporte para versiones 4.0 o menor -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vero.MainActivity" />
        </activity>
    </application>

</manifest>